{% extends 'base.html' %} {# {% block header %}
<h1>{% block title %}Your 3D Avatar{% endblock %}</h1>
{% if not g.user %}
<a class="action" href="{{ url_for('avatar.create') }}">New</a>
{% endif %} {% if len(avatars) == 0 %}
<a class="action" href="{{ url_for('avatar.create') }}">New</a>
{% endif %} {% endblock %} #} {% block content %}

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form
      class="avatar-form"
      style="padding:20px;"
      action="{{ url_for('avatar.update', id=avatar['id']) }}"
      method="post"
    >
      <p>
        <label for="body_height">Body height</label>
        <input
          name="body_height"
          id="body_height"
          value="{{ request.form['avatar'] or avatar['body_height'] }}"
          required
        />
      </p>
      <p>
        <label for="body_weight">Body weight</label>
        <input
          name="body_weight"
          id="body_weight"
          value="{{ request.form['avatar'] or avatar['body_weight'] }}"
          required
        />
      </p>
      <p>
        <label for="skin_tone">Skin tone</label>
        <input
          name="skin_tone"
          id="skin_tone"
          value="{{ request.form['avatar'] or avatar['skin_tone'] }}"
          required
        />
      </p>
      <p>
        <label for="sex">Gender</label>
        <input
          name="sex"
          id="sex"
          value="{{ request.form['avatar'] or avatar['sex'] }}"
          required
        />
      </p>
      <input type="submit" value="Save" />
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="avatar">
        <div style="font-family:'Cinzel';">
          <h2 style="margin-top:20px;font-family:'Cinzel';padding-top: 20px;">
            My Measurements
          </h2>
        </div>
        <p class="body">Height: {{ avatar['body_height'] }} in</p>
        <p class="body">Weight: {{ avatar['body_weight'] }} lbs</p>
        <p class="about">Skin tone: {{ avatar['skin_tone'] }}</p>
        <p class="about">Gender: {{ avatar['sex'] }}</p>
        <div>
          <p style="padding-top: 10px;">
            <button class="btn btn-primary action" id="item-detail">
              Edit
            </button>
          </p>
          <form
            action="{{ url_for('avatar.delete', id=avatar['id']) }}"
            method="post"
          >
            <input
              class="danger btn btn-primary"
              type="submit"
              value="Delete"
              onclick="return confirm('Are you sure?');"
            />
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <iframe
        id="3dmodel"
        class="test"
        src="/model-embed?model=pmh1w1"
        width="100%"
        height="100%"
        style="min-height:600px;overflow: hidden;"
        scrolling="no"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</div>
<script>
  function convertMetricsToPickle(bodyHeight, bodyWeight, skinTone, sex) {
    pickle = "";
    pickle += skinTone[0] + sex[0];

    if (sex[0] == "m") {
      if (bodyHeight > 70) {
        pickle += "h3";
      } else if (bodyHeight > 60) {
        pickle += "h2";
      } else {
        pickle += "h1";
      }
      if (bodyWeight > 200) {
        pickle += "w3";
      } else if (bodyHeight > 140) {
        pickle += "w2";
      } else {
        pickle += "w1";
      }
    } else {
      if (bodyHeight > 66) {
        pickle += "h3";
      } else if (bodyHeight > 56) {
        pickle += "h2";
      } else {
        pickle += "h1";
      }
      if (bodyWeight > 150) {
        pickle += "w3";
      } else if (bodyHeight > 100) {
        pickle += "w2";
      } else {
        pickle += "w1";
      }
    }

    console.log("pickle:");
    console.log(pickle);
    return pickle;
  }

  pickle = convertMetricsToPickle(
    "{{ avatar['body_height'] }}",
    "{{ avatar['body_weight'] }}",
    "{{ avatar['skin_tone']  }}",
    "{{ avatar['sex'] }}"
  );
  document.getElementById("3dmodel").src = "/model-embed?model=" + pickle;

  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("item-detail");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };

  document.getElementById("nav-home").className += "active";
</script>
{% endblock %}
