<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/loader.css') }}"
    />
  </head>

  <body>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/loader/three.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/loader/GLTFLoader.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/loader/OrbitControls.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/loader/ModelLoader.js')}}"
    ></script>
    <script>
      NONA.init();
      NONA.loadModel(
        "{{ url_for('static', filename='../../../../static/models/dfh2w2.glb')}}",
        100,
        2
      );

      document.addEventListener("keydown", onDocumentKeyDown, false);

      function onDocumentKeyDown(event) {
        var keyCode = event.which;
        if (keyCode == 90) {
          NONA.loadModel("black_female/dfh2w2.glb", 100, 2);
        } else if (keyCode == 88) {
          NONA.loadModel("white_male/pmh2w2.glb", 100, 2);
        } else if (keyCode == 67) {
          NONA.loadModel("white_female/pfh2w2.glb", 100, 2);
        }
      }
    </script>
  </body>
</html>
